<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="methods" thread-count="1" >
	
	<test name="Testonchrome">
	<parameter name="browserName" value="chrome"></parameter>
  
    <classes>
      <class name="maven.brokenlink.NewTest"/>
    </classes>
    </test>
    
    <test  name="TestFirefox">
	<parameter name="browserName" value="firefox"></parameter>
  
    <classes>
      <class name="maven.brokenlink.NewTest"/>
    </classes>
     </test>
     
    <test  name="TestIE">
	<parameter name="browserName" value="ie"></parameter>
  
    <classes>
      <class name="maven.brokenlink.NewTest"/>
    </classes>
  </test> 
</suite> 
